In [8]:
import pandas as pd
import matplotlib as mpl
import numpy as np
from datetime import datetime
import re

#Loading in CSV

dataframe = pd.read_csv('netflix_titles.csv')
dataframe.fillna('N/A')
dataframe.describe(include='all').head().fillna('N/A')

tv_shows = dataframe[dataframe['type'] == 'TV Show']
films = dataframe[dataframe['type'] == ''TV Show'']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
count,6234,6234,6234,4265,5664,5758,6223,6234,6224,6234,6234,6234
unique,N/A,2,6172,3301,5469,554,1524,N/A,14,201,461,6226
top,N/A,Movie,Love,"Raúl Campos, Jan Suter",David Attenborough,United States,"January 1, 2020",N/A,TV-MA,1 Season,Documentaries,A surly septuagenarian gets another chance at ...
freq,N/A,4265,3,18,18,2032,122,N/A,2027,1321,299,3
mean,7.67037e+07,N/A,N/A,N/A,N/A,N/A,N/A,2013.36,N/A,N/A,N/A,N/A